@-webkit-keyframes showCell {
    0% {
      transform: scale(0.2) rotate(90deg);
    }
    33% {
      opacity: 1;
    }
    100% {
      transform: scale(1) rotate(0);
      opacity: 1;
    }
  }
  @keyframes showCell {
    0% {
      transform: scale(0.2) rotate(90deg);
    }
    33% {
      opacity: 1;
    }
    100% {
      transform: scale(1) rotate(0);
      opacity: 1;
    }
  }
  
  #result {
    margin-top: 6vmin;
  }
  #result .row,
  #result .cell {
    display: flex;
  }
  #result .row {
    height: 7vmin;
    justify-content: center;
  }
  #result .cell {
    position: relative;
    width: 7vmin;
    height: 3.5vmin;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 1vmin;
    margin-right: 1vmin;
    transform: scale(0);
    opacity: 0;
  }

  .cell-green {
    background: #22d718;
  }

  .cell-purple {
    background: #e406fd;
  }

  .cell-white {
    background: #ffffff;
  }

  .cell-blue {
    background: #87a9f3;
  }

  .cell-orange {
    background: #f2861a;
  }

  .cell-pink {
    background: #f21ab5;
  }

  #result .cell > div span:nth-child(1), #result .cell > div span:nth-child(3) {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    border-width: 2.333331vmin;
    border-style: solid;
    border-left-color: transparent;
    border-left-width: 3.4999965vmin;
    border-right-color: transparent;
    border-right-width: 3.4999965vmin;
    width: 0;
  }
  #result .cell-white > div span:nth-child(1) {
    border-top-color: transparent;
    border-bottom-color: #ffffff;
    bottom: 100%;
  }
  #result .cell-white > div span:nth-child(3) {
    border-top-color: #ffffff;
    border-bottom-color: transparent;
    top: 100%;
  }
  #result .cell-green > div span:nth-child(1) {
    border-top-color: transparent;
    border-bottom-color: #22d718;
    bottom: 100%;
  }
  #result .cell-green > div span:nth-child(3) {
    border-top-color: #22d718;
    border-bottom-color: transparent;
    top: 100%;
  }
  #result .cell-purple > div span:nth-child(1) {
    border-top-color: transparent;
    border-bottom-color: #e406fd;
    bottom: 100%;
  }
  #result .cell-purple > div span:nth-child(3) {
    border-top-color: #e406fd;
    border-bottom-color: transparent;
    top: 100%;
  }
  #result .cell-blue > div span:nth-child(1) {
    border-top-color: transparent;
    border-bottom-color: #87a9f3;
    bottom: 100%;
  }
  #result .cell-blue > div span:nth-child(3) {
    border-top-color: #87a9f3;
    border-bottom-color: transparent;
    top: 100%;
  }
  #result .cell-orange > div span:nth-child(1) {
    border-top-color: transparent;
    border-bottom-color: #f2861a;
    bottom: 100%;
  }
  #result .cell-orange > div span:nth-child(3) {
    border-top-color: #f2861a;
    border-bottom-color: transparent;
    top: 100%;
  }
  #result .cell-pink> div span:nth-child(1) {
    border-top-color: transparent;
    border-bottom-color: #f21ab5;
    bottom: 100%;
  }
  #result .cell-pink > div span:nth-child(3) {
    border-top-color: #f21ab5;
    border-bottom-color: transparent;
    top: 100%;
  }
  #result .cell.animate {
    -webkit-animation: showCell 0.5s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
            animation: showCell 0.5s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }